{% extends 'base.html' %}
{% block title %}
О сайте
{% endblock %}

{% block behind_css %}
h2 {
    margin-top: auto;
}

.personal {
    border: 0px;
    font-size: 15px;
}
{% endblock %}

{% block body%}
<h1>О сайте</h1>
<section class="personal">
    <h2>Технические характеристики</h2>
    <p>Версия сайта: 3.0<br> Дата создания: 27.09.2020</p>
    <h2>История</h2>
    <p>
        Когда я захотел написать сайт, у меня не было компьютера. Но желание оказалось сильнее. И поэтому <a
            href="http://prostosait.neonarod.com/version1.0/index.html" target="_blank">первый прототип</a> сайта был написан на маленьком и древнем смартфоне: <a
            href="https://ru.wikipedia.org/wiki/Samsung_Galaxy_Mini" target="_blank">Samsung Galaxy Mini (GT-S5570)</a>.
        Но почему мне захотелось создать свою страничку?
    </p>
    <p>Во-первых, мне захотелось что-то новенькое. Я изучил теорию и прекрасно её понимал, но мне нужна была ещё и
        практика.
        <br>Во-вторых, у меня созрела идея...
    </p>
    <h2>Идея</h2>
    <p>Представим такую ситуацию: пользователь интернета уже сто раз просмотрел свои любимые веб-сайты и ему, как
        говорится, "скучно". А что если сделать сайт, где будут собраны все хорошие ссылки на страницы Интернета? Тогда
        пользователь просто выберет
        свою тематику и найдёт для себя нужный сервис. Например, захотелось мне что-то новенького и необычного, а сам не
        знаю, что именно хочу. Тогда я просто захожу на сайт, выбираю тематику "необычное", перехожу на любую попавшиеся
        страницу из этой
        тематики и радуюсь!<br> В интернете есть много хороших и полезных сайтов. Но жалко то, что они мало известны...
        Я знаю, мой проект грандиозный, и мне одному не справиться. Но всё придёт со временем. Поэтому у меня на "просто
        сайт" есть такая
        страничка: "копилка полезных сайтов". Буду стараться пополнять её.
    </p>
    <p>Я вам только рассказал идею о сайте. Но она также переплетается с идеей о собственном приложении... Если коротко,
        то хотелось сделать так, чтобы пользователь мог сам настраивать сайт, как ему удобно. Например, изменить по
        вкусу дизайн сайта, добавить
        свои небольшие программки на сайт, чтобы ими пользоваться, ну и т.д. В заключении хотелось сказать: "всему своё
        время". Нужно начать с чего-то маленького, чтобы в будущем сделать что-то большое.</p>
</section>

{% endblock %}