<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/logo.svg" type="image/png">
    <style type="text/css">
    {% block front_css %}{% endblock %}
    </style>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
    <style type="text/css">
    {% block behind_css %}{% endblock %}
    </style>
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
<header id="header" class="header">
    <a href="/" id="logo" class="logo">
        <img src="/static/logo.svg"/>
        <div class="logo-text">
            <h1>Просто сайт</h1>
            <hr>
            <p>Сайт для всех</p>
        </div>
    </a>
    <div id="authorization" class="authorization">
        {% if current_user.is_authenticated %}
            <a href="/logout" class="empty_a">
                <h1> {{ current_user.name }} </h1>
            </a>
            <a href="/personal" class="empty_a">
                <p> Личный кабинет </p>
            </a>
        {% else %}
            <a href='/login' class="empty_a">
                <h1 id="log_in">Войти</h1>
            </a>
            <a href="/registration" id="empty_a">
                <p id="register">Зарегистрироваться</p>
            </a>
        {% endif %}
    </div>
</header>
<!-- -------------------------------------------- -->
<section>
    <div id="nav">
        <ul class="menu animate__animated notshow" id="navbar">
            <a href="/">
                <li class="li1">Главная</li>
            </a>
            <a href="/homeworks">
                <li class="li1">Электронный дневник</li>
            </a>
            <a href="#">
                <li class="li1">Интересные факты</li>
            </a>
            <a href="/sitesbox">
                <li class="li1">Копилка сайтов</li>
            </a>
            <a href="/about/site">
                <li class="li1">О сайте</li>
            </a>
            <a href="#">
                <li class="li1">О себе</li>
            </a>
        </ul>
    </div>
</section>
<!-- -------------------------------------------- -->
{% block body %}
<section id="section1" class="section1">
    <h1> Главная </h1>
    <h2>Описание</h2>
    <div class="box_img_text">
        <img src="../static/main/airplane.png" alt="">
        <p> Здравствуйте, пользователи моего сайта! Здесь я буду работать над своим проектом по Яндекс Лицею. Очень
            нетерпится сделать сайт с возможностью регистрацией и авторизацией! Как вы поняли, не всё тут будет идеально
            и безошибочно. Но у вас есть
            уникальная возможность следить за моими результатами! (Ха, ха, звучит как реклама :-) ). Какие возможности я
            хочу здесь реализовать?
        </p>
    </div>
</section>
<!-- -------------------------------------------- -->
<section id="section2" class="section2">
    <h2>Электронный дневник</h2>
    <div class="box_img_text">
        <p> Хочу сделать электронный дневник. Да, знаю, у меня уже есть, но мне очень хочется сделать свой. Что там буду
            выкладывать? Домашку) Представляете как будет удобно? Такой зашёл в свой кабинет на сайте, написал д/з и
            скидывай ссылку всем своим
            одноклассникам. Думаю, будет очень классно!)))
        </p>
        <img src="../static/main/diary.png" alt="">
    </div>
</section>
<!-- -------------------------------------------- -->
<section id="section3" class="section3">
    <h2> Копилка сайтов </h2>
    <div class="box_img_text">
        <img src="../static/main/piggy_bank.png" alt="">
        <p> Раньше этот раздел назывался “копилка полезных сайтов” , а теперь попроще - “копилка сайтов”. Значит буду
            выкладывать туда и бесполезные сайты (Шутка). Конечно, если вы читали идею моего сайта, то знаете, что я
            хочу собрать все странички Интернета
            в одном местечке и помогать малоизвестным сайтам развиваться как самые популярные.
        </p>
    </div>
</section>
<!-- -------------------------------------------- -->
<section id="section4" class="section4">
    <h2> Что-то ещё </h2>
    <div class="box_img_text">
        <p> Какие ещё функции буду реализовывать? Что ж, я сам не знаю. Хотелось бы интересненького ещё добавить. У вас
            идеи? Супер! Тогда пишите мне на мою почту: <a
                    href="mailto:kantserovvlad@yandex.ru">kantserovvlad@yandex.ru</a> <br> Можно также либо
            в <a href="https://t.me/kantserov_vlad">Telegram</a>, либо <a
                    href="https://vk.com/kantserov_vlad">ВКонтакте</a>: @kantserov_vlad
        </p>
        <img src="../static/main/functions.png" alt="">
    </div>

</section>
<!-- -------------------------------------------- -->
<section id="section5" class="section5">
    <h1></h1>
</section>
<!-- -------------------------------------------- -->
{% endblock %}
<footer id="footer" class="footer">
    <p>© В.С. Канцеров, 2022</p>
    <a href="/rules">Правила сайта </a>
    <a href="#">Поддержать сайт</a>
</footer>
<!-- -------------------------------------------- -->
</body>

</html>