{% extends 'base.html' %}

{% block title %}
Изменить пароль
{% endblock %}

{% block body %}
<h1>Изменить пароль</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>{{ form.password_old(class="form-control", type="password", placeholder="Старый пароль") }}</p>
    <p>{{ form.password_new(class="form-control", type="password", placeholder="Новый пароль") }}</p>
    <p>{{ form.password_new_again(class="form-control", type="password", placeholder="Повторите новый пароль") }}</p>
    <p>{{ form.submit(type="submit") }}</p>
    {{message}}
</form>
{% endblock %}