{% extends 'base.html' %}
{% block title %}
Поддержать сайт
{% endblock %}

{% block behind_css %}
h2 {
margin-top: auto;
}

{% endblock %}


{% block body%}
<section id="donations">
    <h1>Поддержать сайт</h1>
    <div style="display: block" class="personal">
        <iframe src="https://yoomoney.ru/quickpay/shop-widget?writer=seller&targets=%D0%9F%D0%BE%D0%B4%D0%B4%D0%B5%D1%80%D0%B6%D0%B0%D1%82%D1%8C%20%D1%81%D0%B0%D0%B9%D1%82&targets-hint=&default-sum=5&button-text=11&payment-type-choice=on&mobile-payment-type-choice=on&hint=&successURL=&quickpay=shop&account=4100116099515983"
                width="423" height="222" frameborder="0" allowtransparency="true" scrolling="no" style="padding: 10px">
        </iframe>
        <br>
        <iframe width="728" height="200"
                src="https://widget.qiwi.com/widgets/big-widget-728x200?publicKey=48e7qUxn9T7RyYE1MVZswX1FRSbE6iyCj2gCRwwF3Dnh5XrasNTx3BGPiMsyXQFNKQhvukniQG8RTVhYm3iPwQfwV5BPNNzuCX4QbFymQFFdjmp7EwsWp95XsUBXLcF8yNUmCxjJ5s7E3VpvHRGwg9D6bteNvephv1izUaGkX6HG9G3FxVsJLXy8RGEe4"
                allowtransparency="true" scrolling="no" frameborder="0" style="padding: 10px"></iframe>
    </div>
</section>
{% endblock %}