{% extends 'base.html' %}

{% block title %}
Личный кабинет
{% endblock %}

{% block body %}
<h1>Личный кабинет</h1>
<div class="personal">
    <div class="div-flex">
        <div class="block-info">
            <p>Имя: <i>{{ current_user.name }}</i></p>
            <p>Фамилия: <i>{{ current_user.surname }}</i></p>
            <p>Почта: <i>{{ current_user.email }}</i></p>
        </div>
        <div class="block-info">
            {% if current_user.school_id %}
            <p>Школа: <i>{{ school }}</i></p>
            {% else %}
            <p>Школа: <i>Не указана</i></p>
            {% endif %}

            {% if current_user.class_n_id %}
            <p>Класс: {{ class_n }}</p>
            {% else %}
            <p>Класс: <i>Не указан</i></p>
            {% endif %}

            {% if current_user.admin %}
            <p>Права администратора: <i>Да</i></p>
            {% else %}
            <p>Права администратора: <i>Нет</i></p>
            {% endif %}
        </div>
    </div>
    <div class="div-flex">
        <a class="shine-button-blue" href="/change/info">Изменить</a>
        {% if current_user.school_id %}
        <a class="shine-button-blue" href="/set/school">Изменить школу</a>
        {% else %}
        <a class="shine-button" href="/set/school">Добавить школу</a>
        {% endif %}
        <a class="shine-button-blue" href="/change/password">Изменить пароль</a>
        <a class="shine-button-red" href="/logout">Выйти</a>
    </div>
</div>
{% if current_user.admin %}
<h2>Для администратора</h2>
<div class="personal">
    <div class="div-flex">
        <div class="block-info">
            {% for i in info %}
            <p> {{ i[0] }}: <i>{{i[1]}}</i></p>
            {% endfor %}
        </div>
    </div>
    <div class="div-flex">
        <a class="shine-button" href="/users">Пользователи</a>
        <a class="shine-button" href="/schools">Школы</a>
        <a class="shine-button" href="/diaries">Дневники</a>
    </div>
</div>
{% endif %}
{% endblock %}