{% extends 'base.html' %}
{% block title %}
Правила сайта
{% endblock %}
{% block body%}
<h1>Правила сайта</h1>
<div style="margin-left: 25px">
    <ul>
        <li>Не копировать сам сайт, материалы и дизайн сайта (лишь исключение
            <a href="http://prostosait.neonarod.com" target="_blank">prostosait.neonarod.com</a>,
            т.к. это прошлая версия моего сайта)</li>
        <li>Быть хорошим пользователем интернета</li>
    </ul>
    <p>Вроде бы простые правила, а мне приятноッ</p>
</div>

{% endblock %}