{% extends 'base.html' %}

{% block title %}
Школы
{% endblock %}


{% block behind_css %}
.div-flex p {
    margin-right: 10px;
}

.div-flex {
    align-items: center;
}
{% endblock %}

{% block body %}
<h1>Школы</h1>
<div class="personal">
    {% for school in schools %}
    <div class="div-flex">
        <p>{{ school.id }}</p>
        <p>{{ school.name }}</p>
        <p>{{ users_schools[school.name] }} учатся</p>
        <a class="shine-button" href="/{{school.id}}/classes">Классы</a>
        <a class="shine-button-red" href="#">Удалить школу</a>
    </div>
    {% endfor %}
    <a class="shine-button" href="/add/school">Добавить школу</a>
</div>

{% endblock %}